<div>This is the second page {{ idNumber }}</div>

<a
  routerLink="/first-component"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  Route to previous page
</a>

<app-two-way-binding
  [(TwoWayBindingVal)]="idNumber"
  (twoWayBindingEvent)="idNumber = $event"
/>

{{ idNumber }}

<li *ngFor="let name of names">{{ name.name }} - {{ name.surname }}</li>

<br />
<label>CatFact:</label>
<div *ngIf="!catFactLoading; else elseBlock">{{ catFact }}</div>
<ng-template #elseBlock>Loading...</ng-template>
<br />
<button (click)="getNewFact()">GetNewCatFact</button>
